<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiHeartBroken } from "@mdi/js";
import { mdiCursorDefaultClickOutline } from "@mdi/js";
import router from "@/router";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiHeartBroken" />Love Me
          <template v-slot:tail> Tail</template>
        </FancyButton></v-col
      >
      <v-col
        ><FancyButton
          >Click Me
          <template #tail
            ><v-icon :icon="mdiCursorDefaultClickOutline"
          /></template> </FancyButton
      ></v-col>
    </v-row>
  </v-container>
</template>
